 table {
			border: 1px solid black;
			margin: 0px auto;
		
		}
		td{
			width: 100px;
			height: 100px;
			text-align: center;
			border: 1px solid black;
			background-color: white;
		}
		
	
                
		tr:nth-child(2n) td:nth-child(2n-1),						/* Selektor: Gerade Zeile (tr) Ungerade Felder (td) */
		tr:nth-child(2n-1) td:nth-child(2n) { 						/* Selektor: Unerade Zeile (tr) Gerade Felder (td) */
			background-color: darkgrey; 								
                       
		}
		
		
        
        /* ##################################     Gehört nicht zur Aufgabenstellung ############### */         
              
		td{
			transition: all 0.5s ease;				/*Der Übergang für alle geänderten Elemente mit einer Dauer von einer halben Sekunde */			
            color: rgba(0,0,0,0);	                /* Die Text Farbe Schwarz aber Volltransperent */
		}
		
		td:hover{                                       /*Bei Mausübergang */
        	box-shadow: 4px 4px 4px lime;               /*Schatten in lime */
           	color: #009999;                             /*Textfarbe Blau*/
           	transform: scale(1.25,1.25);                /*Macht die Box ein wenig grtößer*/
	           	-webkit-transform: scale(1.25,1.25);       /* Schafft kompatibilität zu diversen Browsern */
	           	-ms-transform: scale(1.25,1.25);           /* +Internet Explorer */
        }
        
        .empty{
        	height: 67px;
        	width: 67px;
        }